{% extends 'base.html.twig' %}

{% block body %}

    <div class="container my-5">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h2 class="text-center">À propos de OnlyInAmerica</h2>
                <div class="about">
                    <p>OnlyInAmerica est une application d'e-commerce spécialisée dans la vente de produits américains introuvables en France. Notre objectif est de permettre aux consommateurs français de découvrir et d'acheter des produits authentiques et uniques en provenance des États-Unis.</p>

                    <p>Nous travaillons en étroite collaboration avec des fournisseurs américains de confiance pour vous offrir une sélection variée de produits de haute qualité, allant des articles de mode et de beauté aux produits alimentaires et culturels.</p>

                    <p>Notre équipe est passionnée par la culture américaine et s'efforce de vous offrir une expérience d'achat exceptionnelle, du premier clic sur notre site web jusqu'à la réception de votre commande chez vous.</p>

                    <p>Merci de faire partie de l'aventure OnlyInAmerica ! Si vous avez des questions ou des commentaires, n'hésitez pas à nous contacter à l'adresse suivante : [Adresse email de contact].</p>
                </div>
            </div>
        </div>
    </div>



{% endblock %}