{% extends 'base.html.twig' %}

{% block body %}

    <div class="container my-5">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="text-center">Conditions générales de vente</h2>
                <p><strong>1. Objet</strong></p>
                <p>Les présentes conditions générales de vente régissent toutes les ventes de produits proposés par OnlyInAmerica sur son site web [URL du site]. En passant commande sur ce site, le client reconnaît avoir pris connaissance et accepté sans réserve les présentes conditions générales de vente.</p>

                <p><strong>2. Produits</strong></p>
                <p>Les produits proposés à la vente sont décrits et présentés avec la plus grande exactitude possible. Cependant, en raison de la nature des produits importés des États-Unis, des variations peuvent survenir, notamment en ce qui concerne les spécifications techniques, les coloris ou les dimensions. OnlyInAmerica ne peut être tenue responsable de telles variations, mais s'engage à informer le client de toute différence significative avant la conclusion de la vente.</p>

                <p><strong>3. Commandes</strong></p>
                <p>Pour passer commande, le client doit être majeur et disposer de la capacité légale à contracter. Le processus de commande comprend plusieurs étapes, dont la sélection des produits, la vérification du panier, la saisie des informations de livraison et de paiement, et la confirmation de la commande. En confirmant sa commande, le client accepte de payer le prix indiqué ainsi que les frais de livraison éventuels.</p>

                <p><strong>4. Prix</strong></p>
                <p>Les prix affichés sur le site sont indiqués en euros toutes taxes comprises (TTC). Les frais de livraison sont à la charge du client et sont indiqués avant la validation de la commande. OnlyInAmerica se réserve le droit de modifier ses prix à tout moment, mais les produits seront facturés sur la base des tarifs en vigueur au moment de la validation de la commande.</p>

                <p><strong>5. Paiement</strong></p>
                <p>Le règlement des achats s'effectue en ligne, au moment de la commande, par carte bancaire ou tout autre moyen de paiement accepté par OnlyInAmerica. Les paiements sont sécurisés et traités par des prestataires de paiement réputés.</p>

                <p><strong>6. Livraison</strong></p>
                <p>Les délais de livraison sont indiqués lors du processus de commande et dépendent notamment de la disponibilité des produits et du lieu de livraison. OnlyInAmerica s'engage à faire ses meilleurs efforts pour respecter ces délais, mais ne peut être tenue responsable des retards imputables au transporteur ou à des cas de force majeure.</p>

                <p><strong>7. Droit de rétractation</strong></p>
                <p>Conformément à la législation en vigueur, le client dispose d'un délai de quatorze (14) jours à compter de la réception des produits pour exercer son droit de rétractation, sans avoir à justifier de motifs ni à payer de pénalités. Les frais de retour sont à la charge du client.</p>

                <p><strong>8. Garanties</strong></p>
                <p>Les produits vendus sont garantis conformes aux spécifications indiquées sur le site et aux normes en vigueur. En cas de défaut de conformité, le client peut demander le remplacement ou le remboursement du produit concerné dans les conditions prévues par la loi.</p>

                <p><strong>9. Responsabilité</strong></p>
                <p>OnlyInAmerica ne peut être tenue responsable des dommages indirects ou immatériels résultant de l'utilisation des produits vendus. La responsabilité de OnlyInAmerica est limitée au montant de la commande.</p>

                <p><strong>10. Protection des données personnelles</strong></p>
                <p>Les informations collectées lors de la commande sont nécessaires à la gestion de celle-ci et sont traitées dans le respect de la réglementation applicable en matière de protection des données personnelles. Le client dispose d'un droit d'accès, de rectification et de suppression de ses données.</p>

                <p><strong>11. Litiges</strong></p>
                <p>En cas de litige, les parties s'engagent à rechercher une solution à l'amiable. À défaut, les tribunaux français seront seuls compétents pour régler le litige.</p>

                <p><strong>12. Droit applicable</strong></p>
                <p>Les présentes conditions générales de vente sont régies par le droit français.</p>
            </div>
        </div>
    </div>


{% endblock %}