{% extends 'base.html.twig' %}

{% block body %}

    <div class="container my-5">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h2 class="text-center">Mentions légales</h2>
                <div class="mentions">
                    <p><strong>Éditeur du site :</strong></p>
                    <p>OnlyInAmerica<br>
                        Adresse : 89 boulevard de Stalingrad 94310 Orly<br>
                        Téléphone : 0606060606<br>
                        Email : onlyinamerica@oia.com<br>
                        SIRET : 99999999999999<br>
                        Capital social : 15000€<br>
                        Directeur de la publication : Dingreville Serge</p>

                    <p><strong>Hébergeur du site :</strong></p>
                    <p>[Nom de l'hébergeur]<br>
                        Adresse : [Adresse de l'hébergeur]<br>
                        Téléphone : [Numéro de téléphone de l'hébergeur]<br>
                        Email : [Adresse email de l'hébergeur]</p>

                    <p><strong>Protection des données personnelles :</strong></p>
                    <p>Les données personnelles collectées sur ce site sont traitées conformément à la réglementation en vigueur. Pour plus d'informations sur la manière dont nous traitons vos données personnelles, veuillez consulter notre politique de confidentialité.</p>

                    <p><strong>Propriété intellectuelle :</strong></p>
                    <p>Ce site et son contenu (textes, images, vidéos, etc.) sont protégés par le droit d'auteur et autres droits de propriété intellectuelle. Toute reproduction ou utilisation non autorisée est strictement interdite.</p>

                    <p><strong>Cookies :</strong></p>
                    <p>Ce site utilise des cookies pour améliorer l'expérience utilisateur. En naviguant sur ce site, vous acceptez l'utilisation de cookies conformément à notre politique en matière de cookies.</p>

                    <p><strong>Droit applicable :</strong></p>
                    <p>Les présentes mentions légales sont régies par le droit français. En cas de litige, les tribunaux français seront seuls compétents.</p>
                </div>
            </div>
        </div>
    </div>


{% endblock %}