{% extends 'base.html.twig' %}

{% block body %}
    <div class="container my-5">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h2 class="text-center">Politique en matière de cookies</h2>
                <div class="cookie-policy">
                    <p>Les cookies sont de petits fichiers texte placés sur votre appareil lorsque vous visitez notre site web. Ils sont largement utilisés pour assurer le bon fonctionnement du site, pour améliorer votre expérience de navigation et pour recueillir des informations sur la manière dont vous utilisez notre site.</p>

                    <p>Nous utilisons des cookies à différentes fins, notamment pour :</p>
                    <ul>
                        <li>Assurer le fonctionnement technique de notre site web.</li>
                        <li>Personnaliser votre expérience de navigation.</li>
                        <li>Analyser l'utilisation de notre site pour améliorer son contenu et sa convivialité.</li>
                        <li>Fournir du contenu publicitaire ciblé.</li>
                    </ul>

                    <p>Vous pouvez contrôler et gérer les cookies en modifiant les paramètres de votre navigateur. Veuillez noter que la désactivation des cookies peut affecter le fonctionnement de certaines parties de notre site web.</p>

                    <p>En continuant à utiliser notre site, vous consentez à l'utilisation de cookies conformément à cette politique en matière de cookies.</p>

                    <p>Pour plus d'informations sur les cookies et sur la manière dont nous les utilisons, veuillez consulter notre <a href="#">politique de confidentialité</a>.</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

