{% extends 'base.html.twig' %}

{% block body %}

    <div class="container my-5">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h2 class="text-center">Politique de confidentialité</h2>
                <div class="privacy-policy">
                    <p>La confidentialité de nos utilisateurs est très importante pour nous. Cette politique de confidentialité détaille les types d'informations personnelles que nous collectons et comment nous les utilisons.</p>

                    <p><strong>Collecte et utilisation des informations :</strong></p>
                    <p>Nous collectons des informations lorsque vous utilisez notre application. Ces informations peuvent inclure votre nom, votre adresse e-mail, votre adresse IP, vos informations de localisation et d'autres informations similaires.</p>

                    <p>Nous utilisons ces informations pour améliorer notre application, personnaliser votre expérience utilisateur, fournir un support client et vous envoyer des informations promotionnelles si vous y consentez.</p>

                    <p><strong>Partage des informations :</strong></p>
                    <p>Nous ne vendons, n'échangeons ni ne louons vos informations personnelles à des tiers sans votre consentement, sauf si cela est nécessaire pour fournir les services demandés ou si la loi l'exige.</p>

                    <p><strong>Protection des informations :</strong></p>
                    <p>Nous mettons en œuvre une variété de mesures de sécurité pour protéger la sécurité de vos informations personnelles lorsque vous accédez à notre application.</p>

                    <p><strong>Cookies :</strong></p>
                    <p>Nous utilisons des cookies pour suivre les préférences des utilisateurs, améliorer l'expérience utilisateur et compiler des données agrégées sur le trafic de l'application.</p>

                    <p><strong>Consentement :</strong></p>
                    <p>En utilisant notre application, vous consentez à notre politique de confidentialité.</p>

                    <p><strong>Modifications de la politique de confidentialité :</strong></p>
                    <p>Nous nous réservons le droit de modifier cette politique de confidentialité à tout moment. Toute modification sera publiée sur cette page.</p>

                    <p><strong>Contactez-nous :</strong></p>
                    <p>Si vous avez des questions concernant cette politique de confidentialité, vous pouvez nous contacter à l'adresse suivante : [Adresse email de contact].</p>
                </div>
            </div>
        </div>
    </div>



{% endblock %}