{% extends 'base.html.twig'%}

{% block body %}

    <h1 class="text-center">Tous les produits</h1>

    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for product in products %}
                <div class="col">
                    <div class="card h-100">
                        <img src="/uploads/{{ product.image }}" class="card-img-top img-fluid" alt="{{ product.name }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                        </div>
                        <div class="card-footer">
                             <!-- <a href="" path('product_description', {id: product.id}) class="btn btn-primary">Description</a> -->
                            <a href="{{ path('app_product_productdetails',{'slug': product.slug})}}" class="btn btn-dark">Description</a>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="alert alert-danger">
                    Pas de produit pour le moment
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}