{% extends 'base.html.twig' %}

{% block title %}Nous contacter{% endblock %}

{% block body %}
    <div class="container">
        <h1>Contactez-nous</h1>
        {{ form(form) }}
    </div>
{% endblock %}
