
<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link " href="{{ path('app_user_password') }}">Modifiez mon mot de passe</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Mes produits favoris</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Mes commentaires</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Mes réservations</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_logout') }}">Me déconnecter</a>
    </li>
</ul>