{% extends 'base.html.twig' %}

{% block title %}Ma commande{% endblock %}

{% block body %}
    <div class="container my-5 small-container">
        <h1>Ma Commande</h1>
            {{ form(deliveryForm) }}
        <a href="{{ path('app_user_address_form') }}" class="small">Ajoutez une adresse de livraison</a>
    </div>
{% endblock %}
