{% extends 'base.html.twig' %}
{% block title %}
    Se connecter
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-6 mx-auto">
                <h1>Connexion</h1>
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}